body {
  margin: 0;
  /* width: 100vw;
  height: 100vh; */
  overflow-x: hidden;
  font-family: "Gowun Dodum", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

  color: black;
}

p {
  margin: 0;
}

input {
  border: none;
  width: 99%;
  height: 30px;
}

textArea {
  border: none;
  width: 99%;
  height: 80px;
}

input,
textarea:focus {
  outline: none;
}
/* header */
header {
  height: 20px;
  padding: 10px 20px;
  position: sticky;
  top: 0;

  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}
.header {
  display: flex;
  justify-content: space-between;
}

.click {
  display: flex;
  justify-content: flex-start;
}
.click li {
  padding-right: 20px;
  font-size: 14px;
  text-decoration: none;
  /* cursor: pointer; */
}

.click li a:hover {
  text-decoration: none;
  color: black;
}
.click li a:visited {
  text-decoration: none;
  color: black;
}
/* main */
#info {
  height: auto;
  padding-top: 130px;
}
.main1 {
  height: 420px;

  margin: 0 200px;
  padding: 20px 40px;
}

.sqr1 {
  background-color: #505050;
  width: 700px;
  height: 300px;
  position: relative;
}

.sqr2 {
  background-color: rgb(169, 169, 169);
  width: 700px;
  height: 300px;
  margin-left: 200px;
  position: absolute;
  left: 150px;
  bottom: 100px;
}

.infoprofil {
  background-color: #eeeeee;

  height: auto;
}

p.typing-txt {
  display: none;
}

.typing {
  /*position: absolute;*/
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 190px;
  margin-left: 360px;
  font-size: 60px;
  color: #ffffff;
}

.typing1 {
  display: inline;
  vertical-align: middle;
  border-right: 0.05em solid white;
  animation: cursor 0.2s ease infinite;
  color: #000000;
  /* margin-left: 70px; */
  position: absolute;
  top: 280px;
  margin-left: 390px;
  font-size: 30px;
}

@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid rgba(0, 0, 0);
  }
  100% {
    border-right: 1px solid #fff;
  }
}

#front {
  width: auto;
  font-size: 80px;

  position: relative;
  display: inline;
  z-index: 2;
  display: none;
}

#front span {
  width: auto;
  font-size: 80px;
  color: #f9b8f7;
  position: relative;
  display: inline;
  z-index: 2;
  display: none;
}

.main2 {
  height: auto;
  width: 100%;
  padding: 40px 0;
}

.main2text {
  padding-top: 10px;
  padding: 0 30px;
  margin: 0 370px;
  margin-bottom: 5px;
  color: #000000;
}
.profilBox {
  width: 40vw;
  height: auto;
  min-height: 30vh;
  min-width: 30vw;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid 1px lightgrey;
  border-radius: 20px;
  padding: 20px;
  margin: 0 370px;
}
.profilBox:hover {
  margin-left: 370px;
  transform: scale(1.2);
}

.main3 {
  display: flex;
  justify-content: space-between;
  padding: 50px 230px;
  background-color: #eeeeee;
  padding-bottom: 20px;
}

.main3 li {
  display: flex;
  flex-direction: column;
}

.main3 li img {
  margin-bottom: 10px;
}
.main3 li .gauge1 {
  background-color: #d1716b;
  margin-top: 5px;
}
.main3 li .gauge2 {
  background-color: #775b9f;
  margin-top: 5px;
}
.main3 li .gauge3 {
  background-color: #9cc073;
  margin-top: 5px;
}

.percent span {
  color: #000000;
  padding: 0 30px;
}
li img {
  width: 100px;
  height: 110px;
}
#project {
  height: auto;
}
.main4 {
  background-color: #eeeeee;

  padding: 40px 0;
  height: auto;
}

#front1 {
  width: auto;
  padding-left: 130px;
  /* font-size: 80px; */
  height: auto;
  position: relative;
  display: inline;
  z-index: 2;
}

#front1 span {
  width: auto;
  padding-top: 20px;
  font-size: 30px;
  color: #757575 000000;
  position: relative;
  display: inline;
  z-index: 2;
  padding: 20px;
}

/* 슬라이드 */
.project_container {
  width: 80vw;
  margin: 20px auto;
}
.album {
  width: 80vw;
  border-radius: 20px;
  height: auto;
  overflow: hidden;
  padding-bottom: 10px;
}
.images {
  position: relative;
  display: flex;
  height: auto;
}

.images a img {
  transition: all 0.2s linear;
  border-radius: 20px;
}
.images a:hover img {
  transform: scale(1.2);
}

.images a:hover .hover {
  display: block;
  background-color: rgba(0, 0, 0, 0.644);
  width: 80vw;

  height: 580px;
  opacity: 1;
  padding: 20px;
}

img {
  width: 80vw;
  height: auto;
}

.frontimg {
  position: relative;
}
.hover {
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;

  font-size: 20px;
}
.project_container > button,
button:active,
button:focus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000000;
  outline: none;
  border: none;
  cursor: pointer;
}
button:disabled {
  background-color: rgb(178, 178, 178);
}
.previous {
  float: left;
  position: absolute;
}
.next {
  float: right;
}
/* email */
#Email {
  background-color: #eeeeee;
  font-size: 0;
}

.about {
  padding: 40px 200px;
  font-size: 20px;
}

#blank {
  height: 30px;
  border-radius: 20px 20px 0 0;
  background-color: #5b5b5b;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

#blank li {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  flex-direction: row;
  background-color: red;
  margin-left: 10px;
  margin-top: 7px;
}

#blank li:nth-child(2) {
  background-color: orange;
}

#blank li:nth-child(3) {
  background-color: green;
}

.about > div {
  padding: 0 0 30px 0;
  border-radius: 20px;
  background-color: #fffbdf;
}

.getintouch,
.mmessage {
  padding: 10px;
}

#nname,
#pphone,
#eemail,
#mmeassage {
  padding-bottom: 5px;
  padding-top: 15px;
  border-bottom: 2px solid #eeeeee;
}

.getintouch_btn,
.getintouch_btn:active,
.getintouch_btn:visited {
  margin-left: 400px;
  border-radius: 0;
  outline: none;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 40px;
  margin-top: 20px;
  background-color: #ffffff;
}

/* footer */
footer {
  padding: 10px 20px;
  display: flex;
  height: 20px;
  background-color: #ffffff;
}

.footer {
  display: flex;
  justify-content: flex-start;
}

.footer li {
  padding-right: 20px;
  color: #000000;
}

/* @media screen and (min-width: 760px) {
} */
