/*
:root {
}
*/

body {
  margin: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;

  color: #a9a9a9;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

/* header */

.ad {
  width: 100%;
  height: 43.5px;
  background-color: black;
}
.icon {
  display: flex;
  justify-content: flex-end;
  color: #a9a9a9;
  cursor: pointer;
  margin-right: 10px;
}

.icon i {
  padding: 10px;
}

.logo img {
  width: 100px;
  height: 100px;
}

.cate {
  display: flex;
  justify-content: space-between;
  position: sticky;
  font-size: 13px;

  padding-bottom: 5px;
}

.cate #black {
  display: flex;
  justify-content: space-around;
}

#black li {
  padding: 7px 10px;
  cursor: pointer;
}

.cate #gray {
  display: flex;
  justify-content: space-around;
  color: #a9a9a9;
}

#gray li {
  padding: 7px 10px;
}

/* footer */

.footer1,
.footer2 {
  width: 100%;
}

.footer1-1 {
  display: flex;
  justify-content: flex-start;
  padding: 30px 0 30px 30px;
  font-size: 12px;
}

.footer1-1 li {
  margin: 0px 150px 0px 0px;
}

#border {
  font-weight: bold;
  margin: 0 0 30px;
}

.footer1-2-1 li {
  margin: 0px 120px 0px 0px;
}

.footer2 {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.footer2 i {
  margin: 20px 10px;
}
.footer3-1,
.footer3-2 {
  color: #a9a9a9;
  font-size: 12px;
  margin: 30px;
}

.footer3-3 {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  margin: 30px 0 20px 30px;
}
.footer3-3 li {
  padding: 6px 0;
}

.sq {
  border: 1px solid black;
  margin: 5px 10px;
  padding: 1px 8px 3px 8px;
}

/*  main */

.main1 {
  padding: 20px 0 0 20px;
  border-top: 1px solid black;
}

.k_review {
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  margin: 30px 0 10px 0;
}

#pink {
  border-top: 1px solid black;
}
.k_review1 {
  margin-right: 20px;
  color: #a9a9a9;
  text-decoration: underline;
}

.k_review2 a {
  margin-right: 20px;
  color: black;
}

.review {
  margin: 20px;
  border: 1px solid #a9a9a9;
}
.review img {
  width: 215px;
  height: 237px;
}

.box1,
.box2 {
  display: flex;
  justify-content: flex-start;
}

.box1 li .review,
.box2 li .review {
  cursor: pointer;
}
.detail {
  display: flex;
  justify-content: flex-start;
  padding: 13px 11px;
  border-top: 1px solid #a9a9a9;
}

.detail img {
  width: 33px;
  height: 33px;
}

.title {
  font-size: 12px;
}
.title,
.nic {
  padding: 10px;
  padding-bottom: 5px;
}

.nic {
  padding-bottom: 10px;
}
.ptitle,
.preview1,
.preview2,
.prating1,
.prating2 {
  font-size: 11px;
}

.nic {
  font-size: 11px;
  color: #767676;
}
.preview1,
.prating1 {
  color: #767676;
}

.preview2,
.prating2 {
  color: black;
  padding-left: 3px;
}

.preview1 {
  padding-right: 10px;
}

.p_rating,
.preview1,
.prating1 {
  display: flex;
  justify-content: flex-start;
}
.product {
  margin-left: 10px;
}

.p_rating {
  padding-top: 3px;
}
