/* 메인 */

main {
  margin: 25px 0 0 25px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.main {
  width: 62vw;
  padding: 0 20px 0 0;
}

.main video {
  width: 100%;
}

.nonbox_title {
  font-size: 20px;
  font-weight: 800;
  margin: 5px 0 10px 0;
}
.nonbox_title span {
  color: #3558d4;
}
.nonbox_uploader ul {
  display: flex;
  justify-content: space-between;
}

.nonbox_uploader ul li {
  display: flex;
  justify-content: flex-start;
}

.left,
.right,
.likebutton {
  display: flex;
  justify-content: flex-start;
}

.nonbox_uploader ul li img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.channel {
  margin: 0 20px 0 0;
  cursor: pointer;
}
.channel_gudoc {
  font-size: 12px;
  color: #606060;
}

.left > li:nth-child(2) {
  background-color: #f0f0f0;
  padding: 0 15px;
  border-radius: 50px;
  font-size: 13px;
  color: #606060;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.left > li:nth-child(2) span {
  padding-top: 12px;
}

.left > li:nth-child(3) {
  padding: 20px 0 0 0;
  cursor: pointer;
}

#sh {
  margin: 0 0 0 10px;
  padding: 10px 15px 0 15px;
  background-color: #f0f0f0;
  border-radius: 50px;
  cursor: pointer;
}

.likeicon {
  background-color: #f0f0f0;
  padding: 0 20px 0 20px;
  border-radius: 50px 0 0 50px;
  border-right: 1px solid #b0b0b0;
  cursor: pointer;
}

.likeicon span {
  padding: 15px;
}

.likebutton > .likeicon {
  padding: 10px 0;
}

.hateicon {
  background-color: #f0f0f0;
  padding: 0 20px 0 20px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}

.hateicon i {
  padding: 15px 0;
}

#bu {
  width: 46px;
  padding: 0;
  background-color: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

#bu span {
  padding: 10px 5px 0 20px;
}
/* -------------더보가------------ */
#aaa {
  cursor: pointer;
  font-size: 14px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

#openTerms {
  background-color: #f0f0f0;
  font-size: 14px;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.ments {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.ments2 {
  margin-left: 30px;
}

.profil {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.cir {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #018977;
  text-align: center;
}

.input {
  margin-left: 20px;
}
input {
  width: 100%;
}

#bold {
  font-weight: 550;
}
#blue {
  color: #3558d4;
  cursor: pointer;
}

/* 
.box > summary {
  margin: 20px 0 0 0;
  background-color: #f0f0f0;

  border-radius: 10px;
  padding: 0.5rem;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
}

.box > summary:active {
  border-radius: 10px 10px 0 0;
}

.more {
  background-color: #f0f0f0;

  border-radius: 0 0 10px 10px;
  padding: 0.5rem;
  cursor: pointer;
} */

/* list */

.list {
  margin-right: 25px;
  width: 38vw;
}

.tags ul {
  display: flex;
  justify-self: flex-start;
}

.tags ul li {
  margin: 12px 12px 12px 0;
  padding: 0px 12px;
  background-color: #f8f8f8;
  border-radius: 8px;
  height: 32px;
  cursor: pointer;
}

.tags ul li:hover {
  background-color: #4747471b;
}

#first {
  margin: 12px;
  background-color: #000000;
  color: #ffffff;
}
.tagsTexts {
  font-size: 14px;
  padding: 5px 0;
  text-align: center;
}

.listvideo {
  margin-bottom: 10px;
}
.listvideo li {
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
  cursor: pointer;
}

.title {
  width: 100%;
  font-size: 14px;
  margin-bottom: 5px;
  white-space: no-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 1.2em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  width: 40%;
  margin-right: 10px;
}

.infoicon {
  width: 50%;
}
.img img {
  width: 100%;
  border-radius: 8px;
}

.nontitle > div {
  font-size: 12px;
  color: #606060;
  margin-bottom: 5px;
}

.nonuploader {
  display: flex;
  justify-content: flex-start;
}

.views {
  margin-right: 3px;
}
